<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="topnav">
        <a  href="/">Home</a>
        <a class="active" href="/creat">Creat User</a>
        <a href = "/products">Products</a>
    </div>
    <div class = "form">
        <form action="/creat-user" method="post">
            <fieldset>
                <legend>Personalia:</legend>
                <div class = "input-group">
                    <label>Email:</label>
                    <input type = "text" name = "email"/>
                </div> 
                <div class = "input-group">
                    <label>Name:</label>
                    <input type = "text" name = "name"/>
                </div>
                <div class = "input-group">
                    <label>Dia chi:</label>
                    <input type = "text" name = "city"/>
                </div>
                <div>
                    <button>Submit</button>
                 </div> 
            </fieldset>
        </form>
        
        
    </div>
</body>
</html>